<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="title" content="<%= title %>" >
		<meta name="description" content="<%= description %>" />
		<meta name="keywords" content="metadata">
		<title><%= title %></title>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= flufflink %>" />
		<meta property="og:title" content="<%= title %>" />
		<meta name="author" content="<%= author %>">
		<meta property="og:description"  content="<%= description %>" />
		<meta property="og:type" content="article" />
	  <meta property="og:site_name" content="CodeIsDead" />
		<meta property="og:image" content="<%= image %>" />
	</head>
	<body>
		<h2> <%= title %> </h2>
		<p> <%= description %> </p>

	</body>
	<script>

		//var crawler = false;

		var fb_user_agent1 = 'facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)';
		var fb_user_agent2 = 'facebookexternalhit/1.1';

		var redirect  =  '<%= link %>';
		var fbAgent  =  '<%= userAgent %>';

		console.log('redirecting to: ', redirect);

		if( (fbAgent != fb_user_agent1) || (fbAgent != fb_user_agent2) ){
			console.log('not a crawler');
			window.location = redirect;
		} else {
			console.log('is a crawler');
		}


	</script>
</html>
