<html>
	<head>
		<meta property="og:url" content="<%= link %>" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="<%= title %>" />

	</head>
	<body>
		<h2> <%= title %> </h2>
		<p> <%= description %> </p>
	</body>
	<script>
		console.log('share', <%= share.link %>);
	</script>
</html>
